@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

.container_message {
  text-align: center;
  margin-top: 1rem;
  max-width: 15rem;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

.message_card {
    max-width: 15rem;
    padding: 1rem;
    margin: auto;
  }
  
  .message {
    position: relative;
    background-color: white;
    padding: 1rem;
    border: 1px solid yellow;
  }
  
  .message::before {
    border: 2px dashed red;
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
  }
  
.message p {
  margin-bottom: 0.5rem;
}
